apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: collab  
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/moshekravitz/Collab.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: collab

  syncPolicy:
    syncOptions:
      - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
